{% extends 'base/base.html' %}

{% block title %}Index View{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Bienvenido {{ user }}!</h1>
        <a href="{% url 'home:logout' %}" class="btn btn-link">LogOut</a>
        <table class="table">
            <thead>
                <th>Item 1</th>
                <th>Item 2</th>
                <th>Item 3</th>
            </thead>
            <tbody>
                <tr>
                    <td>Uno</td>
                    <td>Dos</td>
                    <td>Tres</td>
                </tr>
                <tr>
                    <td>Cuatro</td>
                    <td>Cinco</td>
                    <td>Seis</td>
                </tr>
                <tr>
                    <td>Siete</td>
                    <td>Ocho</td>
                    <td>Nueve</td>
                </tr>
            </tbody>
        </table>
    {% else %}
    <br>
        <form action="" method="post">
            {% csrf_token %}
                {{ form }}
                <br><hr>
                <button type="submit" class="btn btn-outline-success form-control">LogIn</button>                
        </form>
        <p>
            Si no tienes una cuenta Registrate:
            <a href="{% url 'home:signup' %}" class="btn btn-link">SignUp</a>
        </p>
        
    {% endif %}
{% endblock content %}