{% extends "base/base.html" %}

{% block title %}
  SIGNUP VIEW
{% endblock title %}

{% block content %}
  <form action="" method="post" class="form">
    {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">New User SignUp</button>
        <a href="{% url 'home:index' %}" class="btn btn-outline-warning">Cancel</a>
  </form>
{% endblock content %}