{% extends "base/base.html" %}

{% block title %}
  CREATE PRODUCT VIEW CLIENT
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success form-control">Create Category</button>
        <br>
        <a href="{% url 'api:ws_client' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}