

{% extends "base/base.html" %}

{% block title %}
  WS CATEGORIES VIEW
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <th>ID</th>
            <th>CATEGORY NAME</th>
            <th>USER</th>
            <th>TIMESTAMP</th>
            <th>STATUS</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.category_name }}</td>
                    <td>{{ category.user }}</td>
                    <td>{{ category.timestamp }}</td>
                    <td>{{ category.status }}</td>
                    <td><a href="">Detail</a></td>
                    <td><a href="">Update</a></td>
                    <td><a href="">Delete</a></td>
                </tr>
            
            {% endfor %}
        </tbody>
    </table>
 
{% endblock content %}